.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}

.employee-card {
  flex: 1 1 calc(33.333% - 20px); /* Adjust the width of the cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  color: #555;
}
