.example-container {
  display: flex;
  height: 95vh;
  width: 100%;
}

b {
  border: 2px dashed #333;
  padding: 4px;
  display: inline-block;
}

mat-drawer {
  width: 200px;
  background: linear-gradient(180deg, #4a627a, #263d54);
  color: white;
  padding-top: 20px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
}

.menu-header {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: #f39c12;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  margin: 6px 10px;
  transition: all 0.3s ease;
}

mat-list-item:hover {
  background-color: #30eff9;
  cursor: pointer;
  transform: translateX(5px);
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.align h3 {
  padding-top: 15px;
  display: inline-flex;
  gap: 10px;
  padding-left: 10px;
}

mat-icon {
  color: #3187A2;
}

mat-drawer-content {
  flex: 1;
  background-color: #f5f6fa;
  padding: 20px;
  overflow-y: auto;
}

.menu-toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  background-color: #f39c12;
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.menu-toggle-button:hover {
  background-color: blue;
}

.mat-nav-list .mat-list-item .mat-list-item-content {
  display: flex;
  align-items: center;
}

.mat-nav-list .mat-list-item .mat-list-item-content .mat-list-item-icon {
  margin-left: 10px;
}

.mat-nav-list .mat-list-item .mat-list-item-content .mat-list-item-text {
  flex-grow: 1;
}

.logout-button {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}

.logout-button:hover {
  background-color: rgb(247, 71, 71);
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-button:hover,
.group-button:hover,
.organization-button:hover,
.home-button:hover {
  border: #263d54;
  outline: #333;
  background-color: #f39c12;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-display {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

img {
  border-radius: 50%;
  transition: border-radius 0.3s ease;
}
